<footer class="footer">
  <div
    class="footer__container"
    fxLayout="row wrap"
    fxLayout.lt-sm="column wrap"
    fxLayoutGap.lt-sm="16px"
    fxLayout.gt-xs="0"
    fxLayoutAlign="space-between center"
  >
    <div
      class="footer__branding"
      fxLayout.gt-xs="row"
      fxLayoutGap.gt-xs="8px"
      fxLayoutAlign.gt-xs="start center"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
    >
      <img
        src="../../../assets/images/webitto.svg"
        alt="Webitto"
        height="50px"
        fxHide.gt-xs="true"
      />
      <p>Webitto</p>
    </div>

    <div class="footer__info" fxFlexOrder.lt-sm="3">
      <p>Apache 2.0 License 2020 - Adithya Sreyaj</p>
    </div>
    <div
      class="footer__socials"
      fxLayoutAlign="start center"
      fxLayoutGap="16px"
    >
      <a
        href="https://github.com/adisreyaj"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../../assets/images/social/github.svg" alt="Github" />
      </a>
      <a href="https://sreyaj.dev" target="_blank" rel="noopener noreferrer">
        <img
          src="../../../assets/images/social/web.svg"
          alt="Personal Website"
        />
      </a>
      <a
        href="https://twitter.com/adisreyaj"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../../assets/images/social/twitter.svg" alt="Twitter" />
      </a>
      <a
        href="https://linkedin.com/in/adithyasreyaj"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="../../../assets/images/social/linkedin.svg" alt="Linkedin" />
      </a>
    </div>
  </div>
</footer>
