/*
 * File: _buttons.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 7:54:02 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 3rd May 2020 9:58:33 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

@import 'partials/colors';
@import 'partials/breakpoint';

@mixin webitto-button-base {
  padding: 14px 42px;
  border-radius: 8px;
  min-width: 160px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  background: none;
  font-weight: 500;
}

.webitto-button {
  @include webitto-button-base;
  &.primary {
    background-color: $primary;
    color: #fff;
  }
  &:disabled {
    background-color: rgba($text-light, 0.4);
  }
}
.webitto-stroked-button {
  @include webitto-button-base;
  border-width: 1px;
  border-style: solid;
  &.primary {
    border-color: $primary;
    color: $primary;
  }
  &.warn {
    border-color: rgba($text-light, 0.4);
    color: $primary;
  }
  &:disabled {
    color: rgba($text-light, 0.4);
  }
}

@media screen and (max-width: $mobile) {
  .webitto-button,
  .webitto-stroked-button {
    padding: 16px 42px;
    font-size: 0.9rem;
  }
}
