/*
 * File: _colors.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 4:16:29 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 1st May 2020 4:24:07 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

$primary: #3986fd;

$text-light: #727272;
$gray: #c4c4c4;
