/*
 * File: _snackbar.scss
 * Project: webitto-frontend
 * File Created: Saturday, 2nd May 2020 4:51:00 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 2nd May 2020 4:52:42 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.webitto-snackbar {
  background-color: #fff;
  color: #444;
  p {
    margin: 0;
  }
}
