/*
 * File: pwa-advanced-settings.component.scss
 * Project: webitto-frontend
 * File Created: Sunday, 3rd May 2020 11:19:24 am
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 3rd May 2020 11:58:29 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.pwa-settings {
  margin: 0 auto;
  width: 600px;
  margin-bottom: 32px;
  &__title {
    font-weight: 700;
  }
}
