/*
 * File: file-upload-zone.component.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 3:55:13 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 1st May 2020 9:22:12 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
@import "partials/colors";
@import "partials/settings";
@import "partials/breakpoint";

:host {
  width: 100%;
}

.file-upload {
  margin: 0 auto;
  width: 600px;
  height: 250px;
  background: #f8f8f8;
  border: 2px dashed #97979730;
  border-radius: $border-radius;

  &__image {
    height: 80px;
  }
  &__info {
    margin-top: 24px;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  span {
    color: $primary;
    cursor: pointer;
  }
  &__hint {
    color: $text-light;
    font-size: 0.7rem;
  }

  &.active {
    border-color: $primary;
    background-color: rgba($primary, 0.1);
  }
}

@media screen and (max-width: $mobile) {
  .file-upload {
    width: 100%;
  }
}
