/*
 * File: file-upload-zone.component.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 3:55:13 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 1st May 2020 5:08:44 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
@import "partials/colors";
@import "partials/settings";

.file-upload {
  max-width: 600px;
  width: 100%;
  height: 280px;
  background: #f8f8f8;
  border: 2px dashed #979797;
  border-radius: $border-radius;

  &__image {
    height: 80px;
  }
  &__info {
    margin-top: 24px;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  span {
    color: $primary;
  }
  &__hint {
    color: $text-light;
    font-size: 0.8rem;
  }

  &.active {
    border-color: $primary;
    background-color: rgba($primary, 0.1);
  }
}
