/*
 * File: section-header.component.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 9:02:29 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Saturday, 2nd May 2020 12:08:30 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

@import 'partials/colors';

.section-header {
  text-align: center;
  &__title {
    margin-bottom: 4px;
    font-weight: 700;
  }
  &__subtitle {
    color: $text-light;
    max-width: 600px;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}
