/*
 * File: snackbar.component.scss
 * Project: webitto-frontend
 * File Created: Saturday, 2nd May 2020 4:37:11 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Sunday, 3rd May 2020 11:25:23 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

.snack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__icon {
    display: flex;
    margin-right: 8px;
  }
}
