/*
 * File: file-upload-progress.component.scss
 * Project: webitto-frontend
 * File Created: Friday, 1st May 2020 6:00:30 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 1st May 2020 10:17:52 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
@import 'partials/colors';
@import 'partials/settings';
@import 'partials/breakpoint';
:host {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
}
.upload-progress {
  width: 600px;
  margin: 0 auto;
  height: 80px;
  background: #f8f8f8;
  border: 1px solid #97979730;
  border-radius: $border-radius;
  position: relative;
  &__info {
    z-index: 2;
    padding: 0 24px;

    .divider {
      width: 3px;
      height: 3px;
      background-color: $primary;
      border-radius: 50%;
    }
  }

  &__overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba($primary, 0.1);
  }
  .progress-bar {
    position: absolute;
    left: 0;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    div {
      padding: 0 24px;
      width: calc(100% - 48px);
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
    span {
      background-color: $primary;
      height: 4px;
      width: 100%;
      border-radius: 5px;
    }
  }

  .progress-completed {
    position: absolute;
    display: flex;
    align-items: center;
    right: 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 0.9em;
}
.info {
  font-size: 0.7rem;
  color: rgba($color: #000000, $alpha: 0.6);
}

@media screen and (max-width: $mobile) {
  .upload-progress {
    width: 100%;
  }
}
